# Preencha com as credenciais do seu projeto Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ysbqgovcjbwvznkource.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlzYnFnb3ZjamJ3dnpua291cmNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2NDkwMzYsImV4cCI6MjEwNTIyNTAzNn0.qMTY7I1ElWdIf4P6gX0afsl4GmOTJvSbMWOU3dD7cRI
